<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<div class="d-flex justify-content-center flex-column">
  <form action='/answer' method='get'>
   <input type='text' name='question' placeholder='???' class="form-control w-25">
   <input type='submit' class="btn btn-primary w-25">
  </form>
</div>

